<h4>
{{!-- {{#link-to 'artwalk' artwalk class="dynamic-a"}} --}}
  {{artwalk.title}}
{{!-- {{/link-to}} --}}


{{!-- {{#if isEmpty}} --}}
{{!-- <button class='btn btn-xs' {{action 'delete'}}>Delete</button> --}}
{{!-- {{/if}} --}}


{{!-- <button class='btn btn-xs' {{action 'edit'}}>Edit</button> --}}

<form {{action 'createFavorite' on='submit'}} class="add-favorite">
  {{#if isAuthenticated}}
  {{input value=artwalk.title type="hidden"}}
  <button type='submit' class='btn btn-xs' {{action 'createNewFavorite'}}>Add to Favorites</button>
  {{/if}}
</form>

</h4>
